*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-image: linear-gradient(#11998e, #38ef7d);
    padding: 10%;
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 700%;
    color: white;
}

h2{
    text-align: center;
    background-image: linear-gradient(#203A43, #2C5364);
    padding: 10%;
    height: 20%;
    width: 100%;
    text-align: center;
    color: white;
    animation: mymove 1s infinite;
}

@keyframes mymove {
    0%   {transform: scaleY(1);}
    50%  {transform: scaleY(1.2);}
    100%  {transform: scaleY(1);}
  }